.blog-wrapper {
  .main-wrapper {
    --menu-background-color: var(--ifm-background-color);
    padding-top: var(--blog-wrapper-top-padding);

    > .container{
      /* max-inline-size: 100vw; */

      > .row {
        justify-content: center;

        &:has(main + div) {
          justify-content: end;
        }
      }
    }
  }

  .pagination-nav {
    border-top: 0;
    max-width: var(--l-container-sm);
    margin: 0 auto;
    padding-top: 0;
  }
}
