.main-wrapper {
  background-color: var(--menu-background-color);
  position: relative;

  > div {
    background-color: var(--ifm-background-color);
    inline-size: 100%;
    max-inline-size: calc(
      var(--l-container-max) + (var(--ifm-spacing-horizontal) * 2)
    );
    margin: 0 auto;
    z-index: 1;
  }

  /* Fake extending the content background */
  [class*="docMainContainer"] {
    @media (min-width: 997px) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 75%;
        background: var(--ifm-background-color);
        z-index: 0;
      }
    }
  }

  .container {
    z-index: 1;
    position: relative;

    @media (min-width: 997px) and (max-width: 1320px) {
      max-width: calc(100vw - var(--doc-sidebar-width));
      margin: 0;
    }
  }
}
