:root {
  --ifm-pagination-nav-color-hover: var(--header-light);
  --pagination-background-color: var(--neutral05);
  --pagination-background-hover-color: var(--green50);
  --pagination-border-color: var(--pagination-background-color);
  --pagination-color: var(--ifm-color-content);
  --pagination-hover-color: var(--ifm-color-content);
}

html[data-theme="dark"] {
  --ifm-pagination-nav-color-hover: var(--text-dark);
  --pagination-background-color: var(--neutral90);
  --pagination-border-color: var(--pagination-background-color);
  --pagination-hover-color: var(--header-dark);
}

.pagination-nav {
  --ifm-link-hover-color: var(--ifm-link-color);
  border-top: 2px solid var(--ifm-color-content);
  padding-top: 30px;

  &__link {
    background-color: var(--pagination-background-color);
    border-color: var(--pagination-border-color);
    padding: 0.7rem 1.125rem 1.125rem;
    transition: background-color var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);

    &:hover {
      background-color: var(--pagination-background-hover-color);
      --pagination-color: var(--pagination-hover-color);
    }
  }

  &__label {
    display: inline-flex;
    align-items: start;
    gap: .75rem;
    font-size: 1.125rem;
    margin-top: 0.25rem;
    color: var(--pagination-color);

    svg {
      height: 1.625rem;
      flex: 0 0 auto;
    }

    &::after,
    &::before {
      display: none;
    }
  }

  &__sublabel + &__label {
    margin-top: 0.85rem;
  }

  &__sublabel {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-uppercase);
    line-height: var(--line-height-uppercase);
    font-size: 13px;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0;
    color: var(--pagination-color);
    opacity: 0.7;
  }
}
