.react-toggle-track {
  background-color: var(--neutral75);
  height: 26px;
  width: 48px;

  html[data-theme="dark"] & {
    background-color: var(--neutral96);
  }
}

.react-toggle-thumb {
  background-color: var(--white);
  width: 18px;
  height: 18px;
  margin: 0;
  left: 3px;

  html[data-theme="dark"] & {
    background-color: var(--neutral50);
  }
}

.react-toggle-track-check,
.react-toggle-track-x {
  width: 16px;
  height: 16px;
}

.react-toggle-track-check {
  top: -6px !important;
  left: 5px !important;
}

.react-toggle-track-x {
  top: -6px !important;
  right: 11px !important;
}
