.item {
  border-bottom: 2px solid var(--neutral40);
  max-width: var(--l-container-sm);
  margin: 0 auto var(--padding-sm);

  & + & {
    padding-top: var(--blog-item-margin);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__figure {
    margin: 0 0 var(--padding-sm);
    padding: 0;
  }

  &__img {
    width: auto;
    height: auto;
    max-height: 460px;
    max-width: 100%;
  }

  &__section {
    @mixin fluidScalePx padding-block-start, 24px, 20px;
    padding-inline: 0;
    padding-block-end: var(--padding-sm);
  }

  &__link {
    display: inline-block;
    margin-bottom: 18px;
    font-size: var(--font-size-sm);
  }

  &__arrow {
    transform: rotate(90deg);
    @mixin fluidScalePx margin-inline-end, 16px, 10px;
    margin-block-end: -2px;
  }
}