:root {
  --ifm-alert-padding-vertical: 18px;
  --ifm-alert-padding-horizontal: 22px;
  --ifm-alert-color: var(--ifm-color-content);

  --ifm-color-info: var(--light-blue);
  --ifm-color-success: var(--light-green);
  --ifm-color-warning: #ffddab;
  --ifm-color-danger: var(--light-salmon);
  --ifm-color-important: var(--light-teal);
}

.admonition {
  --ifm-alert-color: var(--ifm-color-content);
  --ra-admonition-icon-color: var(--ifm-alert-color);
  // Set different colors for admonitions
  --ifm-color-tip: var(--light-yellow);
  --ifm-color-location: #affadd;
  --ifm-color-note: var(--neutral10);
  margin-bottom: var(--padding-sm);

  html[data-theme="dark"] & {
    background-color: transparent;
    --ifm-color-note: var(--neutral40);
    --ifm-color-tip: #f5f57f;
    --ifm-color-info: #96dcff;
    --ifm-color-warning: #ffbd61;
    --ifm-color-danger: #ffb3b3;
    --ifm-color-location: var(--green);
  }

  h5 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-uppercase);
    line-height: var(--line-height-uppercase);
    font-size: var(--font-size-uppercase);
    padding-bottom: 2px;
  }
}

@mixin setAdmonition($name, $color) {
  .admonition-#{$name} {
    --ra-admonition-background-color: var(--ifm-color-#{$color}) !important;
    --ra-admonition-border-width: 1px;
    --ra-admonition-border-color: var(--ifm-color-#{$color}) !important;
    background-color: var(--ra-admonition-background-color);
    border-color: var(--ra-admonition-border-color);

    html[data-theme="dark"] & {
      --ra-admonition-color: var(--ifm-color-#{$color});
      --ra-admonition-icon-color: var(--ifm-color-#{$color});
      color: var(--ra-admonition-color);
    }

    .admonition-icon {
      // Use mask to change color of data svg
      mask: url("data:image/svg+xml,#{getIcon($name)}");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--ra-admonition-color);
    }
  }
}

@include setAdmonition("location", "location");
@include setAdmonition("note", "note");
@include setAdmonition("info", "info");
@include setAdmonition("important", "important");
@include setAdmonition("tip", "tip");
@include setAdmonition("caution", "warning");
@include setAdmonition("danger", "danger");

.admonition-icon {
  display: inline-block;
  margin-right: 12px;
  height: 24px;
  width: 24px;

  > svg {
    // overwrite their SVG
    display: none;
  }
}

.admonition-content {
  margin-bottom: 5px;
}
