.blog-wrapper {
  --menu-background-color: var(--ifm-background-color);
  padding-top: var(--l-container-row-padding-xlg);

  .pagination-nav {
    border-top: 0;
    max-width: var(--l-container-sm);
    margin: 0 auto;
    padding-top: 0;
  }
}
