:root {
  --ifm-navbar-background-color: var(--neutral05);
  --ifm-navbar-link-color: var(--ifm-color-content-secondary);
  --ifm-navbar-link-hover-color: var(--ifm-color-content);
  --ifm-navbar-link-active-color: var(--ifm-navbar-link-hover-color);
  --ifm-navbar-item-padding-horizontal: 0;
  --ifm-navbar-item-padding-vertical: 0;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-height: 4rem;
}

html[data-theme="dark"] {
  --ifm-navbar-background-color: var(--neutral90);
}

.navbar {
  &__inner {
    max-width: var(--l-container-max);
    margin: 0 auto;
  }

  &__brand {
    display: none;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    border-bottom: 2px solid transparent;

    &:hover,
    &--active {
      border-bottom: 2px solid var(--ifm-navbar-link-hover-color);
    }
  }
}
