//   --ifm-navbar-height: 3.75rem;
//   --ifm-navbar-item-padding-horizontal: 1rem;
//   --ifm-navbar-item-padding-vertical: 0.25rem;
//   --ifm-navbar-link-color: var(--ifm-font-color-base);
//   --ifm-navbar-link-hover-color: var(--ifm-color-primary);
//   --ifm-navbar-link-active-color: var(--ifm-link-color);
//   --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
//   --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
//   --ifm-navbar-shadow: var(--ifm-global-shadow-lw);
//   --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
//   --ifm-navbar-search-input-color: var(--ifm-color-emphasis-800);
//   --ifm-navbar-search-input-placeholder-color: var(--ifm-color-emphasis-500);
//   --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
//   --ifm-navbar-sidebar-width: 80vw;

:root {
  --ifm-navbar-background-color: var(--neutral05);
  --ifm-navbar-link-color: var(--ifm-color-content-secondary);
  --ifm-navbar-link-hover-color: var(--ifm-color-content);
  --ifm-navbar-link-active-color: var(--ifm-navbar-link-hover-color);
  --ifm-navbar-item-padding-horizontal: 0;
  --ifm-navbar-item-padding-vertical: 0;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-height: 4rem;
}

html[data-theme="dark"] {
  --ifm-navbar-background-color: var(--neutral80);
}

.navbar {
  &__brand {
    display: none;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    border-bottom: 2px solid transparent;

    &:hover,
    &--active {
      border-bottom: 2px solid var(--ifm-navbar-link-hover-color);
    }
  }
}
