.specContainer {
    border-style: solid;
    border-color: var(--ifm-toc-border-color);
    border-width: var(--ifm-global-border-width);
    border-radius: var(--ifm-global-radius);
    width: 100%;
    font-size: .8rem;
    margin-bottom: 1em;
}


.specTitle {
    padding: .5rem .75rem;
    text-transform: uppercase;
    border: 0;
    border-bottom-color: var(--ifm-toc-border-color);
    border-bottom-width: var(--ifm-global-border-width);
    border-radius: var(--ifm-global-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--ifm-color-emphasis-100);
}

.specSubtitle {
    text-transform: none;
    display: block;
    font-style: italic;
}

.specContainer p {
    padding: .5rem .75rem;
    margin-bottom: 0;
}

.specContainer table {
    display: table;
    width: 100%;
    margin-bottom: 0;
}

.specContainer table th {
    background: var(--ifm-color-emphasis-100);
}

.specContainer table th, .specContainer table td {
    border: 0;
    text-align: left;
    white-space: pre-wrap;
    border-left: 0;
    border-right: 0;
    padding: .25rem .5rem .25rem .75rem;
}

.specTable table {
    border: 0;
    margin-top: .25rem;
    margin-bottom: .25rem;
    display: table;
    width: 100%;
}

.specTable tbody {
    border: 0;
}

.specTable tr {
    border: 0;
}

.specTable table tr:nth-child(2n) {
    background-color: inherit;
}

.specTable table th {
    background-color: inherit;
    font-weight: var(--ifm-heading-font-weight);
    text-align: right;
    border: 0;
    white-space: nowrap;
    padding: .25rem .5rem .25rem .75rem;
}

.specTable table td {
    background-color: inherit;
    width: 100%;
    border: 0;
    padding: .25rem .5rem;
}