// Import sofia-pro
@import url("https://use.typekit.net/utk2yhm.css");

// @font-face-specific mixins
// -----
@mixin embedFont(
  $font-name,
  $font-filepath-and-name,
  $font-weight,
  $font-style
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url("/fonts/#{$font-filepath-and-name}.woff2") format("woff2"),
      url("/fonts/#{$font-filepath-and-name}.woff") format("woff");
  }
}

// @font-face declarations
// --------------------------
// Do your @font-face embedding here, in the privacy of your own partial
// `embedFont` must be used once per combination of weight and style

@include embedFont(
  "MaisonMono",
  "MaisonMono-Medium",
  "var(--font-weight-medium)",
  normal
);
@include embedFont(
  "MaisonMono",
  "MaisonMono-Regular",
  "var(--font-weight-regular)",
  normal
);
