$icons: (
  location:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 19'%3E%3Cpath d='M1.3 3C3.5-.2 7.9-.9 11 1.3s3.9 6.6 1.7 9.7L7 18.5 1.3 11c-1.7-2.4-1.7-5.6 0-8zm5.7.5C5.1 3.5 3.5 5.1 3.5 7s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5S8.9 3.5 7 3.5z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E",
  note:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 19'%3E%3Cpath d='M4 7.5h8v-2H4v2zm0 8h8v-2H4v2zm0-4h6v-2H4v2zM13 2V0h-2v2H9V0H7v2H5V0H3v2H0v13.5c0 1.7 1.4 3 3 3h10c1.7 0 3-1.4 3-3V2h-3z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E",
  info:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M9 6c-.8 0-1.5-.7-1.5-1.5S8.2 3 9 3s1.5.7 1.5 1.5S9.8 6 9 6zm-1 8.5h2V8H8v6.5zM9 0C4 0 0 4 0 9s4 9 9 9 9-4 9-9-4-9-9-9z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E",
  important:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 9h6L4 20l2-8H0L8 0z'/%3E%3C/svg%3E",
  tip:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20'%3E%3Cpath d='M4 18h8v2H4v-2zM8 0c4.1 0 7.5 3.3 7.5 7.5 0 1.3-.4 2.9-2 4.8-.9 1.1-1.5 2.6-1.5 3.7H4c0-1.1-.6-2.6-1.5-3.7-1.6-1.9-2-3.5-2-4.8C.5 3.3 3.9 0 8 0zm1 3L5 9h3l-1 4 4-6H8l1-4z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E",
  caution:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath d='M10.5 12h-1l-1-6h3l-1 6zm-.5 4.5c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5 1.5.7 1.5 1.5-.7 1.5-1.5 1.5zm9.6-.1L11.4 1.6C10.6.2 9.3.2 8.5 1.6L.4 16.4C-.3 17.8.4 19 2 19h16c1.7 0 2.3-1.2 1.6-2.6z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E",
  danger:
    "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M9.5 10h-1l-1-6h3l-1 6zM9 14.5c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5 1.5.7 1.5 1.5-.7 1.5-1.5 1.5zM13 0H5L0 5v8l5 5h8l5-5V5l-5-5z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E"
);
