.list {
  @mixin fluidScalePx --menu-spacing, 32px, 18px;
  display: flex;
  align-items: center;

  &:not(.list--is-mobile) {
    @mixin respond 80 {
      display: none;
    }
  }
}

.list--is-mobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @mixin respond 80, min {
    display: none;
  }
}

.list--is-mobile .list__item {
  margin-bottom: 26px;
}

.list__item {
  margin-left: var(--menu-spacing);
}