/* Appearance mixins
--------------------
These should be limited to appearance-related properties only. */

@define-mixin aHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@define-mixin aFocus $color: var("--color-secondary") {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $(color);
  }
}

@define-mixin aBackgroundUnderline $color: text-color, $forwards: true {
  border-bottom: 2px solid var($(color));

  @supports (background-image: linear-gradient(#fff, #fff)) {
    background-image: linear-gradient(var(--$(color)), var(--$(color)));
    background-repeat: no-repeat;
    background-position: center bottom;
    border-bottom: none;
    background-size: 0 2px;
  }
}

@define-mixin aUnderline {
  display: inline-block;
  border-bottom: 2px solid var(--underline-color, currentColor);
  padding-bottom: 0.25em;
}